Repository across-protocol/contracts, changes with the owners that CODEOWNERS names for each.
All owners: @mrice32, @nicholaspai, @pxrl, @bmzig, @chrismaree, @Reinis-FRP, @md0x

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Note: CODEOWNERS are automatically requested for review on relevant PRs.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo unless a later match takes precedence.
*       @mrice32 @nicholaspai @pxrl @bmzig

# Solana
/programs/ @mrice32 @nicholaspai @chrismaree @Reinis-FRP @md0x
/scripts/svm/ @mrice32 @nicholaspai @chrismaree @Reinis-FRP @md0x
/src/svm/ @mrice32 @nicholaspai @chrismaree @Reinis-FRP @md0x
/test/svm/ @mrice32 @nicholaspai @chrismaree @Reinis-FRP @md0x

chore: new `MulticallHandler` deployments
  deployments/alephzero/Multicallhandler.json
  deployments/alephzero/solcInputs/16be92a9348fa952a4aa9f18f5fece4a.json
  deployments/arbitrum/Multicallhandler.json
  deployments/arbitrum/solcInputs/16be92a9348fa952a4aa9f18f5fece4a.json
  deployments/blast/Multicallhandler.json
  deployments/blast/solcInputs/16be92a9348fa952a4aa9f18f5fece4a.json
  deployments/bsc/Multicallhandler.json
  deployments/deployments.json
  deployments/ink/Multicallhandler.json
  deployments/ink/solcInputs/16be92a9348fa952a4aa9f18f5fece4a.json
  deployments/lens/MulticallHandler.json
  deployments/lens/solcInputs/8a0e527614049feeab73705ae80b0f38.json
  deployments/linea/Multicallhandler.json
  deployments/linea/solcInputs/33cad5447897563f4346fbf98552be66.json
  deployments/lisk/Multicallhandler.json
  deployments/lisk/solcInputs/c2ffc35e077bfc077abf274ee041d952.json
  deployments/mainnet/Multicallhandler.json
  deployments/mainnet/solcInputs/c2ffc35e077bfc077abf274ee041d952.json
  deployments/mode/Multicallhandler.json
  deployments/mode/solcInputs/c2ffc35e077bfc077abf274ee041d952.json
  deployments/optimism/Multicallhandler.json
  deployments/polygon/Multicallhandler.json
  deployments/polygon/solcInputs/c2ffc35e077bfc077abf274ee041d952.json
  deployments/redstone/Multicallhandler.json
  deployments/redstone/solcInputs/c2ffc35e077bfc077abf274ee041d952.json
  deployments/scroll/Multicallhandler.json
  deployments/scroll/solcInputs/c2ffc35e077bfc077abf274ee041d952.json
  deployments/soneium/Multicallhandler.json
  deployments/soneium/solcInputs/c2ffc35e077bfc077abf274ee041d952.json
  deployments/unichain/Multicallhandler.json
  deployments/unichain/solcInputs/c2ffc35e077bfc077abf274ee041d952.json
  deployments/worldchain/Multicallhandler.json
  deployments/worldchain/solcInputs/c2ffc35e077bfc077abf274ee041d952.json
  deployments/zksync/MulticallHandler.json
  deployments/zksync/solcInputs/8a0e527614049feeab73705ae80b0f38.json
  deployments/zora/Multicallhandler.json
  deployments/zora/solcInputs/c2ffc35e077bfc077abf274ee041d952.json
  hardhat.config.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

testnet deployments
  deployments/arbitrum-sepolia/Multicallhandler.json
  deployments/arbitrum-sepolia/solcInputs/c2ffc35e077bfc077abf274ee041d952.json
  deployments/base-sepolia/Multicallhandler.json
  deployments/base-sepolia/solcInputs/c2ffc35e077bfc077abf274ee041d952.json
  deployments/blast-sepolia/Multicallhandler.json
  deployments/blast-sepolia/solcInputs/c2ffc35e077bfc077abf274ee041d952.json
  deployments/lisk-sepolia/Multicallhandler.json
  deployments/lisk-sepolia/solcInputs/c2ffc35e077bfc077abf274ee041d952.json
  deployments/mode-sepolia/Multicallhandler.json
  deployments/mode-sepolia/solcInputs/c2ffc35e077bfc077abf274ee041d952.json
  deployments/optimism-sepolia/Multicallhandler.json
  deployments/optimism-sepolia/solcInputs/c2ffc35e077bfc077abf274ee041d952.json
  deployments/polygon-amoy/Multicallhandler.json
  deployments/polygon-amoy/solcInputs/c2ffc35e077bfc077abf274ee041d952.json
  deployments/sepolia/Multicallhandler.json
  deployments/sepolia/solcInputs/c2ffc35e077bfc077abf274ee041d952.json
  deployments/unichain-sepolia/Multicallhandler.json
  deployments/unichain-sepolia/solcInputs/c2ffc35e077bfc077abf274ee041d952.json
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

feat: Bob Sepolia deployment
  contracts/Bob_SpokePool.sol
  deploy/112_deploy_bob_spokepool.ts
  deployments/bob-sepolia/.chainId
  deployments/bob-sepolia/Bob_SpokePool.json
  deployments/bob-sepolia/Multicallhandler.json
  deployments/bob-sepolia/solcInputs/48464bdd29ed66acc37bd0684272813b.json
  deployments/bob-sepolia/solcInputs/8c989c2d35789efd39fd362b90f3ef7a.json
  deployments/deployments.json
  hardhat.config.ts
  package.json
  yarn.lock
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Update action.yml
  .github/actions/setup-node-if-needed/action.yml
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

feat: Bob Sepolia deployment (#1059)
  contracts/Bob_SpokePool.sol
  deploy/112_deploy_bob_spokepool.ts
  deployments/bob-sepolia/.chainId
  deployments/bob-sepolia/Bob_SpokePool.json
  deployments/bob-sepolia/Multicallhandler.json
  deployments/bob-sepolia/solcInputs/48464bdd29ed66acc37bd0684272813b.json
  deployments/bob-sepolia/solcInputs/8c989c2d35789efd39fd362b90f3ef7a.json
  deployments/deployments.json
  hardhat.config.ts
  package.json
  yarn.lock
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

chore: bump version to 4.1.1 in package.json
  package.json
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

chore: bump version to 4.1.1 in package.json (#1061)
  package.json
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

fix script TS errors
  scripts/svm/acrossPlusJupiter.ts
  scripts/svm/simpleFill.ts
  scripts/svm/utils/helpers.ts
  src/svm/index.ts
  yarn.lock
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x, @pxrl, @bmzig

correct innerCpiLimit
  scripts/svm/acrossPlusJupiter.ts
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

add minHops to CLI args
  scripts/svm/acrossPlusJupiter.ts
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

feat: [POST AUDIT] periphery contracts (#1052)
  contracts/SpokePoolPeriphery.sol
  contracts/SwapAndBridge.sol
  contracts/external/interfaces/IERC20Auth.sol
  contracts/external/interfaces/IPermit2.sol
  contracts/handlers/MulticallHandler.sol
  contracts/interfaces/SpokePoolPeripheryInterface.sol
  contracts/libraries/PeripherySigningLib.sol
  contracts/test/MockERC20.sol
  contracts/test/MockPermit2.sol
  package.json
  test/evm/foundry/local/MulticallHandler.t.sol
  test/evm/foundry/local/SpokePoolPeriphery.t.sol
  yarn.lock
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

bump solhint to solhint@^3.6.2 to align with master
  package.json
  yarn.lock
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

more updates to package.json from master
  package.json
  yarn.lock
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

revert last 2 commits
  package.json
  yarn.lock
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

reconcile packages with master
  package.json
  yarn.lock
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

deploy adapterStore + arbitrumAdapter
  .gitignore
  deploy/004_deploy_arbitrum_adapter.ts
  deploy/005_deploy_arbitrum_spokepool.ts
  deploy/063_deploy_adapter_store.ts
  deploy/consts.ts
  deployments/mainnet/AdapterStore.json
  deployments/mainnet/Arbitrum_Adapter.json
  deployments/mainnet/solcInputs/a4568173fdd07a4724f5e04f961d9865.json
  tsconfig.json
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

bump package
  package.json
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

undo tsconfig change
  tsconfig.json
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

add bytecode verification script
  deploy/120_verify_bytecode.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

move verifyBytecode script to a hardhat task
  deploy/120_verify_bytecode.ts
  hardhat.config.ts
  tasks/verifyBytecode.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

deploy spokepool
  deployments/arbitrum/Arbitrum_SpokePool.json
  deployments/arbitrum/solcInputs/7a57f2eb2810fd49e428417389237b12.json
  utils/utils.hre.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Solana testing
  package.json
  scripts/svm/simpleDeposit.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig, @chrismaree, @Reinis-FRP, @md0x

verify deployment tx inputs rather than runtime bytecode
  tasks/verifyBytecode.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

improve verifyBytecode script
  tasks/verifyBytecode.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

update adapter address
  deployments/deployments.json
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

chore: new `MulticallHandler` deployments
  deployments/alephzero/Multicallhandler.json
  deployments/alephzero/solcInputs/16be92a9348fa952a4aa9f18f5fece4a.json
  deployments/arbitrum/Multicallhandler.json
  deployments/arbitrum/solcInputs/16be92a9348fa952a4aa9f18f5fece4a.json
  deployments/blast/Multicallhandler.json
  deployments/blast/solcInputs/16be92a9348fa952a4aa9f18f5fece4a.json
  deployments/bsc/Multicallhandler.json
  deployments/deployments.json
  deployments/ink/Multicallhandler.json
  deployments/ink/solcInputs/16be92a9348fa952a4aa9f18f5fece4a.json
  deployments/lens/MulticallHandler.json
  deployments/lens/solcInputs/8a0e527614049feeab73705ae80b0f38.json
  deployments/linea/Multicallhandler.json
  deployments/linea/solcInputs/33cad5447897563f4346fbf98552be66.json
  deployments/lisk/Multicallhandler.json
  deployments/lisk/solcInputs/c2ffc35e077bfc077abf274ee041d952.json
  deployments/mainnet/Multicallhandler.json
  deployments/mainnet/solcInputs/c2ffc35e077bfc077abf274ee041d952.json
  deployments/mode/Multicallhandler.json
  deployments/mode/solcInputs/c2ffc35e077bfc077abf274ee041d952.json
  deployments/optimism/Multicallhandler.json
  deployments/polygon/Multicallhandler.json
  deployments/polygon/solcInputs/c2ffc35e077bfc077abf274ee041d952.json
  deployments/redstone/Multicallhandler.json
  deployments/redstone/solcInputs/c2ffc35e077bfc077abf274ee041d952.json
  deployments/scroll/Multicallhandler.json
  deployments/scroll/solcInputs/c2ffc35e077bfc077abf274ee041d952.json
  deployments/soneium/Multicallhandler.json
  deployments/soneium/solcInputs/c2ffc35e077bfc077abf274ee041d952.json
  deployments/unichain/Multicallhandler.json
  deployments/unichain/solcInputs/c2ffc35e077bfc077abf274ee041d952.json
  deployments/worldchain/Multicallhandler.json
  deployments/worldchain/solcInputs/c2ffc35e077bfc077abf274ee041d952.json
  deployments/zksync/MulticallHandler.json
  deployments/zksync/solcInputs/8a0e527614049feeab73705ae80b0f38.json
  deployments/zora/Multicallhandler.json
  deployments/zora/solcInputs/c2ffc35e077bfc077abf274ee041d952.json
  hardhat.config.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

testnet deployments
  deployments/arbitrum-sepolia/Multicallhandler.json
  deployments/arbitrum-sepolia/solcInputs/c2ffc35e077bfc077abf274ee041d952.json
  deployments/base-sepolia/Multicallhandler.json
  deployments/base-sepolia/solcInputs/c2ffc35e077bfc077abf274ee041d952.json
  deployments/blast-sepolia/Multicallhandler.json
  deployments/blast-sepolia/solcInputs/c2ffc35e077bfc077abf274ee041d952.json
  deployments/lisk-sepolia/Multicallhandler.json
  deployments/lisk-sepolia/solcInputs/c2ffc35e077bfc077abf274ee041d952.json
  deployments/mode-sepolia/Multicallhandler.json
  deployments/mode-sepolia/solcInputs/c2ffc35e077bfc077abf274ee041d952.json
  deployments/optimism-sepolia/Multicallhandler.json
  deployments/optimism-sepolia/solcInputs/c2ffc35e077bfc077abf274ee041d952.json
  deployments/polygon-amoy/Multicallhandler.json
  deployments/polygon-amoy/solcInputs/c2ffc35e077bfc077abf274ee041d952.json
  deployments/sepolia/Multicallhandler.json
  deployments/sepolia/solcInputs/c2ffc35e077bfc077abf274ee041d952.json
  deployments/unichain-sepolia/Multicallhandler.json
  deployments/unichain-sepolia/solcInputs/c2ffc35e077bfc077abf274ee041d952.json
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

feat: updated gitignore to not add historical deploys
  .gitignore
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

feat: Removed historical deploys from broadcast folder
  broadcast/DeployHubPool.s.sol/11155111/run-1749500895.json
  broadcast/DeployHubPool.s.sol/11155111/run-1749501623.json
  broadcast/DeployHubPool.s.sol/11155111/run-1749667427.json
  broadcast/DeployHubPool.s.sol/11155111/run-latest.json
  broadcast/deployed-addresses.json
  broadcast/deployed-addresses.md
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

feat: Updated deploy constants to be local vars instad of structs
  script/DeployConstants.sol
  script/DeployHubPool.s.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

feat: added extract addresses script
  package.json
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

feat: Added foundry deploy script for HubPool
  .gitignore
  broadcast/DeployHubPool.s.sol/11155111/run-1749500895.json
  broadcast/DeployHubPool.s.sol/11155111/run-1749501623.json
  broadcast/DeployHubPool.s.sol/11155111/run-1749667427.json
  broadcast/DeployHubPool.s.sol/11155111/run-latest.json
  broadcast/DeployPermissionSplitterProxy.s.sol/1/dry-run/run-1706197795.json
  broadcast/DeployPermissionSplitterProxy.s.sol/1/dry-run/run-1706198336.json
  broadcast/DeployPermissionSplitterProxy.s.sol/1/dry-run/run-latest.json
  broadcast/deployed-addresses.json
  broadcast/deployed-addresses.md
  script/DeployConstants.sol
  script/DeployHubPool.s.sol
  script/ExtractDeployedFoundryAddresses.py
  script/extract_foundry_addresses.sh
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Added foundry readmy
  script/README.md
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Updated Readme
  script/README.md
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Moved openzeppelin foundry ungrades back to npm
  .gitmodules
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

fix: renamed files to match existing standard
  script/001_DeployHubPool.s.sol
  script/Constants.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Updated added out folder to clean script command
  package.json
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Removed unused import
  test/evm/foundry/local/Blast_DaiRetriever.t.sol
  test/evm/foundry/local/Forwarder.t.sol
  test/evm/foundry/local/Router_Adapter.t.sol
  test/evm/foundry/local/ZkStack_Adapter.t.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Fixed script that use the contracts script
  script/DeployEthereumSpokePool.s.sol
  script/DeployHubPool.s.sol
  script/DeployedAddresses.sol
  script/DeploymentUtils.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Changed foundry output folder to not conflict with harhat
  foundry.toml
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig
