Repository across-protocol/contracts, changes with the owners that CODEOWNERS names for each.
All owners: @mrice32, @nicholaspai, @pxrl, @bmzig, @chrismaree, @Reinis-FRP, @md0x

chore: redeploy AcrossEventEmitter w/ EVM bytecode to zksync networks (#1166)
  deployments/lens/AcrossEventEmitter.json
  deployments/lens/solcInputs/7dedd3b35fc7a222d0a8d437c68d5f49.json
  deployments/zksync/AcrossEventEmitter.json
  deployments/zksync/solcInputs/7dedd3b35fc7a222d0a8d437c68d5f49.json
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

feat: Added OP foundry deploy script (#1131)
  script/025DeployOPSpokePool.s.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Added message lib
  contracts/libraries/HyperCoreFlowLib.sol
  contracts/libraries/HyperCoreLib.sol
  contracts/libraries/SponsoredCCTPMessageLib.sol
  contracts/periphery/mintburn/HyperCoreFlowExecutor.sol
  contracts/periphery/mintburn/SwapHandler.sol
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPDstPeriphery.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

storage
  contracts/periphery/mintburn/HyperCoreFlowExecutor.sol
  script/mintburn/oft/UpdateAuthorizedPeripheries.s.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

works.
  contracts/periphery/mintburn/HyperCoreFlowExecutor.sol
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPDstPeriphery.sol
  contracts/periphery/mintburn/sponsored-oft/DstOFTHandler.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

7201 storage
  contracts/periphery/mintburn/HyperCoreFlowExecutor.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

canonical name for storage
  contracts/periphery/mintburn/HyperCoreFlowExecutor.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

remove nonReentrant from HyperCoreFlowExecutor + remove some modifiers
  contracts/periphery/mintburn/HyperCoreFlowExecutor.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

feat: Use deplyed-addresses as source of truth
  broadcast/deployed-addresses.json
  broadcast/deployed-addresses.md
  package.json
  script/utils/CONSTANTS_README.md
  script/utils/ExtractDeployedFoundryAddresses.ts
  scripts/preCommitHook.sh
  src/DeploymentUtils.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

implement for DstOFTHandler
  contracts/periphery/mintburn/HyperCoreFlowExecutor.sol
  contracts/periphery/mintburn/sponsored-oft/DstOFTHandler.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

sizes fixed
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPDstPeriphery.sol
  contracts/periphery/mintburn/sponsored-oft/DstOFTHandler.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

add executeCustomActions function
  contracts/SpokePool.sol
  contracts/interfaces/SpokePoolInterface.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

fix authorizations
  contracts/periphery/mintburn/AuthorizedFundedFlow.sol
  contracts/periphery/mintburn/HyperCoreFlowExecutor.sol
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPDstPeriphery.sol
  contracts/periphery/mintburn/sponsored-oft/DstOFTHandler.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

consolidate some logic
  contracts/periphery/mintburn/BaseHyperCoreModuleHandler.sol
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPDstPeriphery.sol
  contracts/periphery/mintburn/sponsored-oft/DstOFTHandler.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

add comment
  contracts/periphery/mintburn/BaseHyperCoreModuleHandler.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

import and polish
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPDstPeriphery.sol
  contracts/periphery/mintburn/sponsored-oft/DstOFTHandler.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

fix role admin
  contracts/periphery/mintburn/BaseHyperCoreModuleHandler.sol
  contracts/periphery/mintburn/HyperCoreFlowExecutor.sol
  contracts/periphery/mintburn/HyperCoreFlowRoles.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

remove TODO comment
  contracts/periphery/mintburn/HyperCoreFlowExecutor.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

reentrancy + rename
  contracts/periphery/mintburn/BaseModuleHandler.sol
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPDstPeriphery.sol
  contracts/periphery/mintburn/sponsored-oft/DstOFTHandler.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Update contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPDstPeriphery.sol
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPDstPeriphery.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

fixes
  contracts/periphery/mintburn/BaseModuleHandler.sol
  contracts/periphery/mintburn/HyperCoreFlowExecutor.sol
  package.json
  yarn.lock
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

feat(svm): cctp sponsored src (#1136)
  Anchor.toml
  Cargo.lock
  programs/sponsored-cctp-src-periphery/Cargo.toml
  programs/sponsored-cctp-src-periphery/Xargo.toml
  programs/sponsored-cctp-src-periphery/src/error.rs
  programs/sponsored-cctp-src-periphery/src/event.rs
  programs/sponsored-cctp-src-periphery/src/instructions/admin.rs
  programs/sponsored-cctp-src-periphery/src/instructions/deposit.rs
  programs/sponsored-cctp-src-periphery/src/instructions/mod.rs
  programs/sponsored-cctp-src-periphery/src/lib.rs
  programs/sponsored-cctp-src-periphery/src/state.rs
  programs/sponsored-cctp-src-periphery/src/utils/mod.rs
  programs/sponsored-cctp-src-periphery/src/utils/signer.rs
  programs/sponsored-cctp-src-periphery/src/utils/sponsored_cctp_quote.rs
  programs/sponsored-cctp-src-periphery/src/utils/testable_utils.rs
  scripts/svm/buildHelpers/generateSvmClients.ts
  src/svm/clients/index.ts
  src/svm/web3-v1/cctpHelpers.ts
  src/svm/web3-v1/cctpV2Helpers.ts
  src/svm/web3-v1/index.ts
  src/svm/web3-v1/programConnectors.ts
  src/svm/web3-v1/transactionUtils.ts
  test/svm/SponsoredCctpSrc.Deposit.ts
  test/svm/SponsoredCctpSrc.common.ts
  test/svm/SponsoredCctpSrc.types.ts
  test/svm/accounts/token_minter_v2.json
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig, @chrismaree, @Reinis-FRP, @md0x

fix(svm): use native svm inputs for sponsored cctp bridge
  programs/sponsored-cctp-src-periphery/src/error.rs
  programs/sponsored-cctp-src-periphery/src/event.rs
  programs/sponsored-cctp-src-periphery/src/instructions/deposit.rs
  programs/sponsored-cctp-src-periphery/src/lib.rs
  programs/sponsored-cctp-src-periphery/src/state.rs
  programs/sponsored-cctp-src-periphery/src/utils/signer.rs
  programs/sponsored-cctp-src-periphery/src/utils/sponsored_cctp_quote.rs
  programs/sponsored-cctp-src-periphery/src/utils/testable_utils.rs
  test/svm/SponsoredCctpSrc.Deposit.ts
  test/svm/SponsoredCctpSrc.common.ts
  test/svm/SponsoredCctpSrc.types.ts
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

Revert mintburn changes
  contracts/libraries/HyperCoreLib.sol
  contracts/periphery/mintburn/ArbitraryEVMFlowExecutor.sol
  contracts/periphery/mintburn/HyperCoreFlowExecutor.sol
  contracts/periphery/mintburn/SwapHandler.sol
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPDstPeriphery.sol
  contracts/periphery/mintburn/sponsored-oft/DstOFTHandler.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

removed libs
  contracts/libraries/HyperCoreFlowLib.sol
  contracts/libraries/SponsoredCCTPMessageLib.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

clean up
  contracts/SpokePool.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

remove nonreentrant modifier from executeCustomActions
  contracts/SpokePool.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

fix build
  hardhat.config.ts
  package.json
  remappings.txt
  yarn.lock
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

comments
  contracts/periphery/mintburn/HyperCoreFlowExecutor.sol
  foundry.toml
  remappings.txt
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

add tests
  test/evm/foundry/local/SpokePoolCustomActions.t.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

comment
  contracts/SpokePool.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

update
  broadcast/DeployDstHandler.s.sol/999/run-latest.json
  contracts/periphery/mintburn/BaseModuleHandler.sol
  foundry.toml
  remappings.txt
  script/mintburn/oft/DeployDstHandler.s.sol
  script/mintburn/oft/UpdateAuthorizedPeripheries.s.sol
  script/mintburn/oft/usdt0.toml
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

return data not only on reverts
  contracts/periphery/mintburn/BaseModuleHandler.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

improve: emergencyReceiveMessage function for CCTP
  contracts/interfaces/SponsoredCCTPInterface.sol
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPDstPeriphery.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Revert "return data not only on reverts"
  contracts/periphery/mintburn/BaseModuleHandler.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

return data from custom action calls
  contracts/SpokePool.sol
  test/evm/foundry/local/SpokePoolCustomActions.t.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

working:)
  broadcast/CreateSponsoredDeposit.sol/42161/run-latest.json
  broadcast/DeployDstHandler.s.sol/999/run-latest.json
  contracts/periphery/mintburn/BaseModuleHandler.sol
  script/mintburn/oft/CreateSponsoredDeposit.sol
  script/mintburn/oft/usdt0.toml
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

broadcast
  broadcast/deployed-addresses.json
  broadcast/deployed-addresses.md
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

fix return data
  contracts/periphery/mintburn/BaseModuleHandler.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

updated deploy scripts
  broadcast/113DeploySponsoredCCTPSrcPeriphery.sol/421614/run-latest.json
  foundry.toml
  script/mintburn/cctp/113DeploySponsoredCCTPSrcPeriphery.sol
  script/mintburn/cctp/114DeploySponsoredCCTPDstPeriphery.sol
  script/mintburn/cctp/config.toml
  script/mintburn/cctp/setUpTokens.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Note: CODEOWNERS are automatically requested for review on relevant PRs.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo unless a later match takes precedence.
*       @mrice32 @nicholaspai @pxrl @bmzig

# Solana
/programs/ @mrice32 @nicholaspai @chrismaree @Reinis-FRP @md0x
/scripts/svm/ @mrice32 @nicholaspai @chrismaree @Reinis-FRP @md0x
/src/svm/ @mrice32 @nicholaspai @chrismaree @Reinis-FRP @md0x
/test/svm/ @mrice32 @nicholaspai @chrismaree @Reinis-FRP @md0x
