Repository across-protocol/contracts, changes with the owners that CODEOWNERS names for each.
All owners: @mrice32, @nicholaspai, @pxrl, @bmzig, @chrismaree, @Reinis-FRP, @md0x

chore: rename deployments.json to legacy-addresses.json and simplify README (#1333)
  README.md
  deploy/016_deploy_zksync_spokepool.ts
  deploy/022_upgrade_spokepool.ts
  deploy/059_deploy_lens_spokepool.ts
  deployments/README.md
  deployments/legacy-addresses.json
  package.json
  script/utils/DeploymentUtils.sol
  script/utils/EXTRACT_ADDRESSES.md
  script/utils/ExtractDeployedFoundryAddresses.ts
  scripts/processHardhatExport.ts
  src/DeploymentUtils.ts
  utils/utils.hre.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

improve (#1321)
  scripts/verifyBytecode.sh
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

undo interface changes
  contracts/chain-adapters/DonationBox.sol
  contracts/handlers/HyperliquidDepositHandler.sol
  contracts/periphery/mintburn/HyperCoreFlowExecutor.sol
  script/DeployDonationBox.s.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

remove redundant script
  script/mintburn/cctp/DeployDonationBox.s.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

typos
  contracts/SpokePool.sol
  contracts/chain-adapters/Blast_RescueAdapter.sol
  contracts/chain-adapters/CrossDomainEnabled.sol
  contracts/chain-adapters/Ethereum_RescueAdapter.sol
  contracts/chain-adapters/ZkStack_Adapter.sol
  contracts/chain-adapters/ZkStack_CustomGasToken_Adapter.sol
  contracts/handlers/MulticallHandler.sol
  contracts/libraries/HyperCoreLib.sol
  contracts/periphery/mintburn/sponsored-oft/SponsoredOFTSrcPeriphery.sol
  programs/svm-spoke/src/lib.rs
  script/mintburn/oft/CreateSponsoredDeposit.s.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig, @chrismaree, @Reinis-FRP, @md0x

add from #1256
  contracts/chain-adapters/Blast_RescueAdapter.sol
  contracts/interfaces/ArbitrumBridge.sol
  test/svm/SvmSpoke.Deposit.ts
  test/svm/SvmSpoke.Fill.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig, @chrismaree, @Reinis-FRP, @md0x

update hardhat config
  hardhat.config.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

chore: Add prettier check to CI (#1303)
  .github/workflows/pr.yml
  .prettierrc
  contracts/chain-adapters/Arbitrum_CustomGasToken_Adapter.sol
  contracts/chain-adapters/CrossDomainEnabled.sol
  contracts/chain-adapters/Router_Adapter.sol
  contracts/chain-adapters/Universal_Adapter.sol
  contracts/chain-adapters/interfaces/AdapterInterface.sol
  contracts/chain-adapters/interfaces/ForwarderInterface.sol
  contracts/chain-adapters/utilities/HubPoolStore.sol
  contracts/erc7683/ERC7683.sol
  contracts/erc7683/ERC7683OrderDepositor.sol
  contracts/external/Multicall3.sol
  contracts/external/WETH9.sol
  contracts/external/interfaces/IOpUSDCBridgeAdapter.sol
  contracts/external/interfaces/LineaInterfaces.sol
  contracts/external/uma/core/contracts/merkle-distributor/implementation/MerkleDistributor.sol
  contracts/interfaces/SpokePoolMessageHandler.sol
  contracts/interfaces/ZkStackBridgeHub.sol
  contracts/periphery/mintburn/ArbitraryEVMFlowExecutor.sol
  contracts/permit2-order/Permit2OrderLib.sol
  contracts/test/MockHubPool.sol
  contracts/test/MockOptimism_SpokePool.sol
  contracts/test/MockZkStackBridgeHub.sol
  package.json
  script/DeployArbitrumAdapter.s.sol
  src/types/svm.ts
  test/svm/utils.ts
  yarn.lock
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig, @chrismaree, @Reinis-FRP, @md0x

not assign withdrawer role to deployer
  contracts/chain-adapters/DonationBox.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

make donation box param
  contracts/handlers/HyperliquidDepositHandler.sol
  script/DeployHyperliquidDepositHandler.s.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

cherry-pick diff from an old branch
  contracts/chain-adapters/DonationBox.sol
  contracts/handlers/HyperliquidDepositHandler.sol
  contracts/periphery/mintburn/HyperCoreFlowExecutor.sol
  hardhat.config.ts
  script/DeployDonationBox.s.sol
  script/DeployHyperliquidDepositHandler.s.sol
  script/mintburn/cctp/DeploySponsoredCCTPDstPeriphery.s.sol
  script/mintburn/oft/DeployDstHandler.s.sol
  test/evm/foundry/local/HyperCoreFlowExecutor.t.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

chore: deploy periphery contracts to chosen testnets
  broadcast/DeploySpokePoolPeriphery.s.sol/11155111/run-latest.json
  broadcast/DeploySpokePoolPeriphery.s.sol/11155420/run-latest.json
  broadcast/DeploySpokePoolPeriphery.s.sol/421614/run-latest.json
  broadcast/DeploySpokePoolPeriphery.s.sol/84532/run-latest.json
  broadcast/deployed-addresses.json
  broadcast/deployed-addresses.md
  deploy/consts.ts
  deployments/legacy-addresses.json
  foundry.toml
  generated/constants.json
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

chore: upgrade chosen testnet spoke pools
  broadcast/DeployArbitrumSpokePool.s.sol/421614/run-latest.json
  broadcast/DeployEthereumSpokePool.s.sol/11155111/run-latest.json
  broadcast/DeployOPSpokePool.s.sol/11155420/run-latest.json
  broadcast/DeployOPSpokePool.s.sol/84532/run-latest.json
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

chore(polygon-amoy): upgrade spoke and deploy periphery
  broadcast/DeployPolygonSpokePool.s.sol/80002/run-latest.json
  broadcast/DeploySpokePoolPeriphery.s.sol/80002/run-latest.json
  broadcast/deployed-addresses.json
  broadcast/deployed-addresses.md
  deploy/consts.ts
  deployments/legacy-addresses.json
  generated/constants.json
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

address review comments
  broadcast/deployed-addresses.json
  broadcast/deployed-addresses.md
  deployments/legacy-addresses.json
  foundry.toml
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

empty
  broadcast/deployed-addresses.json
  broadcast/deployed-addresses.md
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

fix: extract deployed foundry address script
  broadcast/deployed-addresses.json
  broadcast/deployed-addresses.md
  script/utils/ExtractDeployedFoundryAddresses.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

WIP rpc proxy appraoch
  contracts/periphery/counterfactual/README.md
  foundry.toml
  script/tron/README.md
  script/tron/proxy.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

version
  package.json
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

update publish step
  .github/workflows/publish.yml
  package.json
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

cherry-pick diff from an old branch (#1337)
  contracts/chain-adapters/DonationBox.sol
  contracts/handlers/HyperliquidDepositHandler.sol
  contracts/periphery/mintburn/HyperCoreFlowExecutor.sol
  hardhat.config.ts
  script/DeployDonationBox.s.sol
  script/DeployHyperliquidDepositHandler.s.sol
  script/mintburn/cctp/DeploySponsoredCCTPDstPeriphery.s.sol
  script/mintburn/oft/DeployDstHandler.s.sol
  test/evm/foundry/local/HyperCoreFlowExecutor.t.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

feat: Tron compatible counterfactual factory (#1334)
  .gitignore
  contracts/libraries/TronClones.sol
  contracts/periphery/counterfactual/CounterfactualDepositFactory.sol
  contracts/periphery/counterfactual/CounterfactualDepositFactoryTron.sol
  foundry.toml
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

add scripts/verifyBytecodeEraVM.sh
  scripts/verifyBytecodeEraVM.sh
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

correct comments
  scripts/verifyBytecodeEraVM.sh
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

feat: verifyBytecode for eraVm chains (#1339)
  scripts/verifyBytecodeEraVM.sh
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

build command & set metadata to none
  foundry.toml
  package.json
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

iteraction
  contracts/usdfree/Executor.sol
  contracts/usdfree/Interfaces.sol
  contracts/usdfree/OrderGateway.sol
  contracts/usdfree/OrderStore.sol
  contracts/usdfree/README.md
  contracts/usdfree/diagram.png
  test/evm/foundry/local/usdfree/USDFree_ExecutorAndOrderStore.t.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

use correct key
  foundry.toml
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

chore: deploy periphery contracts to chosen testnets (#1304)
  broadcast/DeployArbitrumSpokePool.s.sol/421614/run-latest.json
  broadcast/DeployEthereumSpokePool.s.sol/11155111/run-latest.json
  broadcast/DeployOPSpokePool.s.sol/11155420/run-latest.json
  broadcast/DeployOPSpokePool.s.sol/84532/run-latest.json
  broadcast/DeployPolygonSpokePool.s.sol/80002/run-latest.json
  broadcast/DeploySpokePoolPeriphery.s.sol/11155111/run-latest.json
  broadcast/DeploySpokePoolPeriphery.s.sol/11155420/run-latest.json
  broadcast/DeploySpokePoolPeriphery.s.sol/421614/run-latest.json
  broadcast/DeploySpokePoolPeriphery.s.sol/80002/run-latest.json
  broadcast/DeploySpokePoolPeriphery.s.sol/84532/run-latest.json
  broadcast/deployed-addresses.json
  broadcast/deployed-addresses.md
  deploy/consts.ts
  foundry.toml
  generated/constants.json
  script/utils/ExtractDeployedFoundryAddresses.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

deploy CounterfactualDeposit to Arbitrum
  broadcast/DeployCounterfactualDeposit.s.sol/42161/run-latest.json
  broadcast/deployed-addresses.json
  broadcast/deployed-addresses.md
  script/counterfactual/DeployCounterfactualDeposit.s.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

skip metadata only for eraVM
  foundry.toml
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

add back the old scripts
  script/helpers/ArbitrumRescueAdapter.s.sol
  script/helpers/SetupArbitrumSpokePool.s.sol
  script/helpers/SetupOptimismSpokePool.s.sol
  scripts/setupArbitrumSpokePool.ts
  scripts/setupOptimismSpokePool.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

use foundry artifacts
  scripts/svm/utils/helpers.ts
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

improve: typos in comments (#1335)
  contracts/SpokePool.sol
  contracts/chain-adapters/Blast_RescueAdapter.sol
  contracts/chain-adapters/CrossDomainEnabled.sol
  contracts/chain-adapters/Ethereum_RescueAdapter.sol
  contracts/chain-adapters/ZkStack_Adapter.sol
  contracts/chain-adapters/ZkStack_CustomGasToken_Adapter.sol
  contracts/handlers/MulticallHandler.sol
  contracts/interfaces/ArbitrumBridge.sol
  contracts/libraries/HyperCoreLib.sol
  contracts/periphery/mintburn/sponsored-oft/SponsoredOFTSrcPeriphery.sol
  programs/svm-spoke/src/lib.rs
  script/mintburn/oft/CreateSponsoredDeposit.s.sol
  test/svm/SvmSpoke.Deposit.ts
  test/svm/SvmSpoke.Fill.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig, @chrismaree, @Reinis-FRP, @md0x

use abi
  scripts/buildSampleTree.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

version
  package.json
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

add Interfaces3
  contracts/usdfree/Interfaces3.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

update README to match Interfaces3
  contracts/usdfree/README.md
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

update diagram and rename Interfaces3
  contracts/usdfree/Interfaces.sol
  contracts/usdfree/Interfaces2.sol
  contracts/usdfree/Interfaces3.sol
  contracts/usdfree/diagram.png
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

bump constants
  generated/constants.json
  package.json
  yarn.lock
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Note: CODEOWNERS are automatically requested for review on relevant PRs.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo unless a later match takes precedence.
*       @mrice32 @nicholaspai @pxrl @bmzig

# Solana
/programs/ @mrice32 @nicholaspai @chrismaree @Reinis-FRP @md0x
/scripts/svm/ @mrice32 @nicholaspai @chrismaree @Reinis-FRP @md0x
/src/svm/ @mrice32 @nicholaspai @chrismaree @Reinis-FRP @md0x
/test/svm/ @mrice32 @nicholaspai @chrismaree @Reinis-FRP @md0x
