Repository across-protocol/contracts, changes with the owners that CODEOWNERS names for each.
All owners: @mrice32, @nicholaspai, @pxrl, @bmzig, @chrismaree, @Reinis-FRP, @md0x

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Note: CODEOWNERS are automatically requested for review on relevant PRs.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo unless a later match takes precedence.
*       @mrice32 @nicholaspai @pxrl @bmzig

# Solana
/programs/ @mrice32 @nicholaspai @chrismaree @Reinis-FRP @md0x
/scripts/svm/ @mrice32 @nicholaspai @chrismaree @Reinis-FRP @md0x
/src/svm/ @mrice32 @nicholaspai @chrismaree @Reinis-FRP @md0x
/test/svm/ @mrice32 @nicholaspai @chrismaree @Reinis-FRP @md0x

Revert "feat: Upgrade Solana CCTP IDL's to V2"
  idls/message_transmitter.json
  idls/token_messenger_minter.json
  package.json
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

import v2 contracts
  idls/message_transmitter_v2.json
  idls/token_messenger_minter_v2.json
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

add external idls
  scripts/svm/buildHelpers/generateExternalTypes.ts
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

fix
  scripts/svm/buildHelpers/generateExternalTypes.ts
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

chore: HyperEVM SpokePoolPeriphery deployment
  deploy/consts.ts
  deployments/deployments.json
  deployments/hyperevm/SpokePoolPeriphery.json
  package.json
  script/utils/constants.json
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

fixup
  broadcast/deployed-addresses.json
  broadcast/deployed-addresses.md
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

update scripts
  scripts/svm/buildHelpers/generateSvmClients.ts
  src/svm/clients/index.ts
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

fix: cctp v2 in deployments
  deployments/deployments.json
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

fix: cctp v2 in broadcast
  broadcast/deployed-addresses.json
  broadcast/deployed-addresses.md
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

fix: generate cctpv2
  scripts/svm/buildHelpers/generateExternalTypes.ts
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

fix: web3 v1 getters for cctp v2
  src/svm/web3-v1/programConnectors.ts
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

fix: update cctp v2 idls
  idls/message_transmitter_v2.json
  idls/token_messenger_minter_v2.json
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

fix: Format constants file on pre commit hook (#1119)
  scripts/preCommitHook.sh
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

feat: hyperevm spoke pool periphery (#1124)
  broadcast/deployed-addresses.json
  broadcast/deployed-addresses.md
  deploy/consts.ts
  deployments/deployments.json
  deployments/hyperevm/SpokePoolPeriphery.json
  package.json
  script/utils/constants.json
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

chore: HyperEVM, ZkSync & Lens SpokePoolVerifier deployment (#1112)
  broadcast/deployed-addresses.json
  broadcast/deployed-addresses.md
  deployments/deployments.json
  deployments/hyperevm/SpokePoolVerifier.json
  deployments/hyperevm/solcInputs/4b6fd0a3cb6d63984a32b4d8af9c1f64.json
  deployments/lens/SpokePoolVerifier.json
  deployments/lens/solcInputs/4b6fd0a3cb6d63984a32b4d8af9c1f64.json
  deployments/zksync/SpokePoolVerifier.json
  deployments/zksync/solcInputs/4b6fd0a3cb6d63984a32b4d8af9c1f64.json
  foundry.toml
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Added tests
  foundry.toml
  hardhat.config.ts
  test/evm/foundry/local/eraVM_EIP7702.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

fix: Changed testnet destination chain id
  test/evm/hardhat/chain-specific-spokepools/Optimism_SpokePool.ts
  test/evm/hardhat/constants.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

version bump
  package.json
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

fix: Changed test destination chain id (#1125)
  package.json
  test/evm/hardhat/chain-specific-spokepools/Optimism_SpokePool.ts
  test/evm/hardhat/constants.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

using enum string representation for chain family
  generated/constants.json
  script/utils/Constants.sol
  script/utils/GenerateConstantsJson.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

feat(Foundry): Updated constants usage (#1111)
  README.md
  generated/constants.json
  script/001DeployHubPool.s.sol
  script/002DeployOptimismAdapter.s.sol
  script/003DeployOptimismSpokePool.s.sol
  script/005DeployArbitrumSpokePool.s.sol
  script/007DeployEthereumSpokePool.s.sol
  script/027DeployScrollSpokePool.s.sol
  script/036DeployBlastSpokePool.s.sol
  script/039DeployModeSpokePool.s.sol
  script/047DeployRedstoneSpokePool.s.sol
  script/049DeployZoraSpokePool.s.sol
  script/057DeployInkSpokePool.s.sol
  script/060DeployCherSpokePool.s.sol
  script/utils/Constants.sol
  script/utils/DeploymentUtils.sol
  script/utils/GenerateConstantsJson.ts
  scripts/preCommitHook.sh
  utils/constants.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

feat: Add Solana CCTP V2 IDLs (#1123)
  broadcast/deployed-addresses.json
  broadcast/deployed-addresses.md
  deployments/deployments.json
  idls/message_transmitter_v2.json
  idls/token_messenger_minter_v2.json
  scripts/svm/buildHelpers/generateExternalTypes.ts
  scripts/svm/buildHelpers/generateSvmClients.ts
  src/svm/clients/index.ts
  src/svm/web3-v1/programConnectors.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig, @chrismaree, @Reinis-FRP, @md0x

feat: deploy scroll, blast, mode, redstone, zora, ink, and soneium spoke pools (#1081)
  broadcast/027DeployScrollSpokePool.s.sol/534352/run-latest.json
  broadcast/036DeployBlastSpokePool.s.sol/81457/run-latest.json
  broadcast/039DeployModeSpokePool.s.sol/34443/run-latest.json
  broadcast/047DeployRedstoneSpokePool.s.sol/690/run-latest.json
  broadcast/049DeployZoraSpokePool.s.sol/7777777/run-latest.json
  broadcast/057DeployInkSpokePool.s.sol/57073/run-latest.json
  broadcast/060DeployCherSpokePool.s.sol/1868/run-latest.json
  broadcast/deployed-addresses.json
  broadcast/deployed-addresses.md
  foundry.lock
  script/utils/ExtractDeployedFoundryAddresses.ts
  scripts/veryfyBytecode.sh
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

add OZ v5 and Sp1 Contracts libs
  .gitmodules
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Add SP1 Helios contract and deploy script
  contracts/sp1-helios/SP1Helios.sol
  foundry.lock
  foundry.toml
  script/114DeploySp1Helios.s.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

feat: Upgrade CCTP V1 deployments to V2
  broadcast/002DeployOptimismAdapter.s.sol/1/run-latest.json
  deploy/002_deploy_optimism_adapter.ts
  deploy/003_deploy_optimism_spokepool.ts
  deploy/004_deploy_arbitrum_adapter.ts
  deploy/005_deploy_arbitrum_spokepool.ts
  deploy/009_deploy_polygon_adapter.ts
  deploy/011_deploy_polygon_spokepool.ts
  deploy/024_deploy_base_adapter.ts
  deploy/025_deploy_base_spokepool.ts
  deploy/061_deploy_unichain_adapter.ts
  deploy/062_deploy_unichain_spokepool.ts
  deploy/consts.ts
  generated/constants.json
  script/002DeployOptimismAdapter.s.sol
  script/003DeployOptimismSpokePool.s.sol
  script/004DeployArbitrumAdapter.s.sol
  script/005DeployArbitrumSpokePool.s.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

latest
  broadcast/deployed-addresses.json
  broadcast/deployed-addresses.md
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

deploy arbitrum
  broadcast/004DeployArbitrumAdapter.s.sol/1/run-latest.json
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

arbitrum
  broadcast/deployed-addresses.json
  broadcast/deployed-addresses.md
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

deploy optimism
  broadcast/002DeployOptimismAdapter.s.sol/1/run-latest.json
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

optimism
  broadcast/deployed-addresses.json
  broadcast/deployed-addresses.md
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

deplooy optimism spoke pool and polygon adapter
  broadcast/003DeployOptimismSpokePool.s.sol/10/run-latest.json
  broadcast/005DeployArbitrumSpokePool.s.sol/42161/run-latest.json
  broadcast/009DeployPolygonAdapter.s.sol/1/run-latest.json
  generated/constants.json
  script/009DeployPolygonAdapter.s.sol
  script/utils/Constants.sol
  script/utils/GenerateConstantsJson.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

update
  broadcast/deployed-addresses.json
  broadcast/deployed-addresses.md
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

deploy polygon spoke
  broadcast/011DeployPolygonSpokePool.s.sol/137/run-latest.json
  script/003DeployOptimismSpokePool.s.sol
  script/007DeployEthereumSpokePool.s.sol
  script/011DeployPolygonSpokePool.s.sol
  script/036DeployBlastSpokePool.s.sol
  script/039DeployModeSpokePool.s.sol
  script/047DeployRedstoneSpokePool.s.sol
  script/049DeployZoraSpokePool.s.sol
  script/054DeployAlephZeroSpokePool.s.sol
  script/059DeployLensSpokePool.s.sol
  script/060DeployCherSpokePool.s.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

polygon deployed
  broadcast/deployed-addresses.json
  broadcast/deployed-addresses.md
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Deploy base and unichain adapters
  broadcast/024DeployBaseAdapter.s.sol/1/run-latest.json
  broadcast/061DeployUnichainAdapter.s.sol/1/run-latest.json
  deploy/consts.ts
  generated/constants.json
  script/024DeployBaseAdapter.s.sol
  script/025DeployBaseSpokePool.s.sol
  script/061DeployUnichainAdapter.s.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

deployments
  broadcast/deployed-addresses.json
  broadcast/deployed-addresses.md
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Deploy unichain and base spoke pools
  broadcast/025DeployBaseSpokePool.s.sol/8453/run-latest.json
  broadcast/062DeployUnichainSpokePool.s.sol/130/run-latest.json
  deploy/consts.ts
  generated/constants.json
  script/062DeployUnichainSpokePool.s.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

pdate deployed
  broadcast/deployed-addresses.json
  broadcast/deployed-addresses.md
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

test
  contracts/AcrossConfigStore.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig
