Repository across-protocol/contracts, changes with the owners that CODEOWNERS names for each.
All owners: @mrice32, @nicholaspai, @pxrl, @bmzig, @chrismaree, @Reinis-FRP, @md0x

remove old hardhat tasks and associated documentaiton
  README.md
  hardhat.config.ts
  tasks/enableL1TokenAcrossEcosystem.ts
  tasks/evmRelayMessageWithdrawal.ts
  tasks/finalizeScrollClaims.ts
  tasks/rescueStuckScrollTxn.ts
  tasks/testChainAdapter.ts
  tasks/types.ts
  tasks/upgradeSpokePool.ts
  tasks/utils.ts
  tasks/verifyBytecode.ts
  tasks/verifySpokePool.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

simplify if conditions
  contracts/interfaces/SponsoredCCTPInterface.sol
  contracts/periphery/mintburn/HyperCoreFlowExecutor.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

fix some problems and introduce a stack-too-deep :)
  contracts/periphery/mintburn/sponsored-oft/QuoteSignLib.sol
  script/mintburn/cctp/createSponsoredDeposit.sol
  test/evm/foundry/local/SponsorredCCTPDstPeriphery.t.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

fix stack too deep
  contracts/periphery/mintburn/sponsored-oft/QuoteSignLib.sol
  script/mintburn/oft/CreateSponsoredDeposit.s.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

smh fix
  contracts/periphery/mintburn/HyperCoreFlowExecutor.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

almost there
  contracts/external/libraries/SharedDecimalsLib.sol
  contracts/periphery/mintburn/sponsored-oft/DstOFTHandler.sol
  contracts/periphery/mintburn/sponsored-oft/SponsoredOFTSrcPeriphery.sol
  script/mintburn/oft/CreateSponsoredDeposit.s.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

impl
  contracts/periphery/mintburn/sponsored-oft/ComposeMsgCodec.sol
  contracts/periphery/mintburn/sponsored-oft/DstOFTHandler.sol
  contracts/periphery/mintburn/sponsored-oft/QuoteSignLib.sol
  contracts/periphery/mintburn/sponsored-oft/SponsoredOFTSrcPeriphery.sol
  contracts/periphery/mintburn/sponsored-oft/Structs.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

interim better
  contracts/external/libraries/SharedDecimalsLib.sol
  contracts/interfaces/IOFT.sol
  contracts/periphery/mintburn/sponsored-oft/ComposeMsgCodec.sol
  contracts/periphery/mintburn/sponsored-oft/DstOFTHandler.sol
  contracts/periphery/mintburn/sponsored-oft/SponsoredOFTSrcPeriphery.sol
  contracts/test/MockOFTMessenger.sol
  script/mintburn/oft/CreateSponsoredDeposit.s.sol
  test/evm/foundry/local/ComposeMsgCodec.t.sol
  test/evm/foundry/local/SponsoredOFTSrcPeriphery.t.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

comments
  contracts/periphery/mintburn/sponsored-oft/DstOFTHandler.sol
  contracts/periphery/mintburn/sponsored-oft/SponsoredOFTSrcPeriphery.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

better
  contracts/external/libraries/SharedDecimalsLib.sol
  contracts/periphery/mintburn/sponsored-oft/DstOFTHandler.sol
  contracts/periphery/mintburn/sponsored-oft/SponsoredOFTSrcPeriphery.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

polish to a more auditable state
  contracts/external/libraries/OFTCoreMath.sol
  contracts/periphery/mintburn/sponsored-oft/DstOFTHandler.sol
  contracts/periphery/mintburn/sponsored-oft/SponsoredOFTSrcPeriphery.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

fix tests
  script/mintburn/oft/CreateSponsoredDeposit.s.sol
  test/evm/foundry/local/ComposeMsgCodec.t.sol
  test/evm/foundry/local/SponsoredOFTSrcPeriphery.t.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

deployments
  broadcast/CreateSponsoredDeposit.s.sol/42161/run-latest.json
  broadcast/DeployDstHandler.s.sol/999/run-latest.json
  broadcast/DeploySrcPeriphery.s.sol/42161/run-latest.json
  broadcast/deployed-addresses.json
  broadcast/deployed-addresses.md
  foundry.toml
  script/mintburn/oft/CreateSponsoredDeposit.s.sol
  script/mintburn/oft/usdt0.toml
  script/mintburn/oft/usdt0test.toml
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

deployments and TXs
  broadcast/CreateSponsoredDeposit.s.sol/42161/run-latest.json
  broadcast/DeployDstHandler.s.sol/999/run-latest.json
  broadcast/deployed-addresses.json
  broadcast/deployed-addresses.md
  script/mintburn/oft/usdt0test.toml
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

fix: update event
  programs/sponsored-cctp-src-periphery/src/event.rs
  programs/sponsored-cctp-src-periphery/src/instructions/deposit.rs
  test/svm/SponsoredCctpSrc.Deposit.ts
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

bump version
  package.json
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

chore: deploy a new dst contract to support ->Lighter deposits (#1221)
  broadcast/114DeploySponsoredCCTPDstPeriphery.sol/1/run-latest.json
  broadcast/ApproveZkLighterMaxUSDCFromMulticallHandler.s.sol/1/run-latest.json
  broadcast/DeployPermissionedMulticallHandler.s.sol/1/run-latest.json
  broadcast/createLighterDeposit.s.sol/42161/run-latest.json
  broadcast/deployed-addresses.json
  broadcast/deployed-addresses.md
  package.json
  script/DeployPermissionedMulticallHandler.s.sol
  script/mintburn/ApproveZkLighterMaxUSDCFromMulticallHandler.s.sol
  script/mintburn/cctp/config.toml
  script/mintburn/cctp/createLighterDeposit.s.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

chore: Support CCTP in OP Adapter
  broadcast/deployed-addresses.json
  broadcast/deployed-addresses.md
  generated/constants.json
  package.json
  script/056DeployOPAdapter.s.sol
  script/utils/Constants.sol
  yarn.lock
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Update deployment
  broadcast/056DeployOPAdapter.s.sol/1/run-latest.json
  broadcast/deployed-addresses.json
  broadcast/deployed-addresses.md
  script/utils/Constants.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Apply suggestion from @pxrl
  script/056DeployOPAdapter.s.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Drop redundant changes
  broadcast/deployed-addresses.md
  generated/constants.json
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

One more
  contracts/chain-adapters/Universal_Adapter.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Drop
  deployments/worldchain/WorldChain_SpokePool.json
  deployments/worldchain/solcInputs/f6db5bcc09d996b0e542155af45c1220.json
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

v4
  contracts/chain-adapters/WorldChain_Adapter.sol
  deployments/worldchain/WorldChain_SpokePool.json
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Support multiple OP adapter deployments
  broadcast/056DeployOPAdapter.s.sol/1/run-latest.json
  broadcast/deployed-addresses.json
  broadcast/deployed-addresses.md
  script/utils/ExtractDeployedFoundryAddresses.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Support no CCTP domain
  script/056DeployOPAdapter.s.sol
  script/utils/Constants.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Handle no cctp token messenger
  script/056DeployOPAdapter.s.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

feat: Support OFT in OP_Adapter & OP_SpokePool
  contracts/OP_SpokePool.sol
  contracts/Ovm_SpokePool.sol
  contracts/chain-adapters/OP_Adapter.sol
  script/056DeployOPAdapter.s.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Update OP SpokePool deployment script
  script/025DeployOPSpokePool.s.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Revert "WIP"
  contracts/OP_SpokePool.sol
  contracts/Ovm_SpokePool.sol
  contracts/chain-adapters/OP_Adapter.sol
  script/056DeployOPAdapter.s.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Bump version for alpha
  package.json
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Bump version again
  package.json
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

add SP1Helios & test
  .gitmodules
  contracts/sp1-helios/SP1Helios.sol
  foundry.toml
  remappings.txt
  test/evm/foundry/local/SP1Helios.t.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

refactor(scripts): Use local getNodeUrl()
  scripts/claimPolygonZkEvmMessages.ts
  scripts/finalizeCCTPMessages.ts
  scripts/mintERC1155.ts
  scripts/svm/bridgeLiabilityToHubPool.ts
  scripts/svm/executeRebalanceToHubPool.ts
  scripts/svm/executeRebalanceToSpokePool.ts
  scripts/svm/proposeRebalanceToHubPool.ts
  scripts/svm/proposeRebalanceToSpokePool.ts
  scripts/svm/remoteHubPoolPauseDeposits.ts
  scripts/svm/remotePauseDeposits.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig, @chrismaree, @Reinis-FRP, @md0x

refactor(scripts): Use local getNodeUrl()
  scripts/claimPolygonZkEvmMessages.ts
  scripts/finalizeCCTPMessages.ts
  scripts/mintERC1155.ts
  scripts/svm/bridgeLiabilityToHubPool.ts
  scripts/svm/executeRebalanceToHubPool.ts
  scripts/svm/executeRebalanceToSpokePool.ts
  scripts/svm/proposeRebalanceToHubPool.ts
  scripts/svm/proposeRebalanceToSpokePool.ts
  scripts/svm/remoteHubPoolPauseDeposits.ts
  scripts/svm/remotePauseDeposits.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig, @chrismaree, @Reinis-FRP, @md0x

fix
  scripts/finalizeCCTPMessages.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Consolidate getMnemonic
  hardhat.config.ts
  tasks/testChainAdapter.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Revert "Consolidate getMnemonic"
  hardhat.config.ts
  tasks/testChainAdapter.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Take two on getMnemonic
  hardhat.config.ts
  tasks/testChainAdapter.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

WIP - deployment is working
  broadcast/deployed-addresses.json
  broadcast/deployed-addresses.md
  script/DeploySP1Helios.s.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Note: CODEOWNERS are automatically requested for review on relevant PRs.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo unless a later match takes precedence.
*       @mrice32 @nicholaspai @pxrl @bmzig

# Solana
/programs/ @mrice32 @nicholaspai @chrismaree @Reinis-FRP @md0x
/scripts/svm/ @mrice32 @nicholaspai @chrismaree @Reinis-FRP @md0x
/src/svm/ @mrice32 @nicholaspai @chrismaree @Reinis-FRP @md0x
/test/svm/ @mrice32 @nicholaspai @chrismaree @Reinis-FRP @md0x
