Repository across-protocol/contracts, changes with the owners that CODEOWNERS names for each.
All owners: @mrice32, @nicholaspai, @pxrl, @bmzig, @chrismaree, @Reinis-FRP, @md0x

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Note: CODEOWNERS are automatically requested for review on relevant PRs.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo unless a later match takes precedence.
*       @mrice32 @nicholaspai @pxrl @bmzig

# Solana
/programs/ @mrice32 @nicholaspai @chrismaree @Reinis-FRP @md0x
/scripts/svm/ @mrice32 @nicholaspai @chrismaree @Reinis-FRP @md0x
/src/svm/ @mrice32 @nicholaspai @chrismaree @Reinis-FRP @md0x
/test/svm/ @mrice32 @nicholaspai @chrismaree @Reinis-FRP @md0x

Added safe guards
  contracts/interfaces/SponsoredCCTPInterface.sol
  contracts/libraries/AddressConverters.sol
  contracts/libraries/SponsoredCCTPQuoteLib.sol
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPDstPeriphery.sol
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPSrcPeriphery.sol
  script/utils/Constants.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

rough first draft of transfer-only flow
  contracts/periphery/mintburn/sponsored-oft/DstOFTHandler.sol
  contracts/periphery/mintburn/sponsored-oft/SponsoredOFTSrcPeriphery.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

add AccessControl
  contracts/periphery/mintburn/sponsored-oft/DstOFTHandler.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

pull account creation funds from donationbox
  contracts/periphery/mintburn/sponsored-oft/DstOFTHandler.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

remove HyperCoreLib
  contracts/libraries/HyperCoreLib.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Added wip swap handler
  contracts/periphery/mintburn/Structs.sol
  contracts/periphery/mintburn/SwapHandler.sol
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPDstPeriphery.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Added missing calls
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPDstPeriphery.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Added limit order queue
  contracts/periphery/mintburn/SwapHandler.sol
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPDstPeriphery.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

first ROUGHEST draft of swap flow implementation
  contracts/libraries/HyperCoreLib.sol
  contracts/periphery/mintburn/sponsored-oft/DstOFTHandler.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

a more complete implementation
  contracts/libraries/HyperCoreLib.sol
  contracts/periphery/mintburn/sponsored-oft/DstOFTHandler.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

fix: represent nonce as pubkey
  programs/sponsored-cctp-src-periphery/src/event.rs
  programs/sponsored-cctp-src-periphery/src/utils/sponsored_cctp_quote.rs
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

feat: sponsored cctp periphery artifacts
  scripts/svm/buildHelpers/generateSvmClients.ts
  src/svm/clients/index.ts
  src/svm/web3-v1/programConnectors.ts
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

updated simple transfer flow
  contracts/interfaces/SponsoredCCTPInterface.sol
  contracts/periphery/mintburn/Structs.sol
  contracts/periphery/mintburn/SwapHandler.sol
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPDstPeriphery.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Added hyper core forwarder
  contracts/periphery/mintburn/HyperCoreForwarder.sol
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPDstPeriphery.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

init hyper core forwarder swap func
  contracts/libraries/HyperCoreLib.sol
  contracts/periphery/mintburn/HyperCoreForwarder.sol
  contracts/periphery/mintburn/Structs.sol
  contracts/periphery/mintburn/SwapHandler.sol
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPDstPeriphery.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

add spotPx function
  contracts/libraries/HyperCoreLib.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

fix: rename to max_bps_to_sponsor
  programs/sponsored-cctp-src-periphery/src/utils/sponsored_cctp_quote.rs
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

add minimumCoreAmountsToAmounts
  contracts/libraries/HyperCoreLib.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

progress
  contracts/periphery/mintburn/HyperCoreForwarder.sol
  contracts/periphery/mintburn/Structs.sol
  contracts/periphery/mintburn/SwapHandler.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

complete _initiateSwapFlow2
  contracts/periphery/mintburn/HyperCoreForwarder.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

clean up decimal conversion functions
  contracts/libraries/HyperCoreLib.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

test: sponsored cctp svm deposit
  Anchor.toml
  src/svm/web3-v1/cctpHelpers.ts
  src/svm/web3-v1/cctpV2Helpers.ts
  src/svm/web3-v1/index.ts
  src/svm/web3-v1/transactionUtils.ts
  test/svm/SponsoredCctpSrc.Deposit.ts
  test/svm/SponsoredCctpSrc.common.ts
  test/svm/SponsoredCctpSrc.types.ts
  test/svm/accounts/token_minter_v2.json
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig, @chrismaree, @Reinis-FRP, @md0x

fix: comment typo
  programs/sponsored-cctp-src-periphery/src/utils/signer.rs
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

fix: remove only
  test/svm/SponsoredCctpSrc.Deposit.ts
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

Added finalize pending swaps function
  contracts/periphery/mintburn/HyperCoreForwarder.sol
  contracts/periphery/mintburn/SwapHandler.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

removed finalTokenHCoreId
  contracts/periphery/mintburn/HyperCoreForwarder.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

correct the limit price, size calculation, and send to SwapHandler logic
  contracts/periphery/mintburn/HyperCoreForwarder.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

added access control
  contracts/periphery/mintburn/HyperCoreForwarder.sol
  contracts/periphery/mintburn/Structs.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

first draft of cancelLimitOrderByCloid + submitNewLimitOrder
  contracts/periphery/mintburn/HyperCoreForwarder.sol
  contracts/periphery/mintburn/SwapHandler.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

complete the newMinCoreAmountFromLO calculation
  contracts/periphery/mintburn/HyperCoreForwarder.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

add a check to submitNewLimitOrder that safeguards new params against old calculated token amounts
  contracts/periphery/mintburn/HyperCoreForwarder.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

feat: Hypercorelib - clean up decimal conversion functions (#1139)
  contracts/libraries/HyperCoreLib.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

add fixes wrt new HyperCoreLib
  contracts/periphery/mintburn/HyperCoreForwarder.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

adjust functionality using new HyperCoreLib fns
  contracts/periphery/mintburn/HyperCoreForwarder.sol
  contracts/periphery/mintburn/Structs.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

add _executeFlow + multiple random improvements
  contracts/periphery/mintburn/HyperCoreForwarder.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

some renamings for consistency
  contracts/periphery/mintburn/HyperCoreForwarder.sol
  contracts/periphery/mintburn/Structs.sol
  contracts/periphery/mintburn/SwapHandler.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

try to improve donationBox interactions
  contracts/periphery/mintburn/HyperCoreForwarder.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

fix: use existing lookup table in tests
  src/svm/web3-v1/transactionUtils.ts
  test/svm/SponsoredCctpSrc.Deposit.ts
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

feat: sponsored rent fund
  programs/sponsored-cctp-src-periphery/src/error.rs
  programs/sponsored-cctp-src-periphery/src/event.rs
  programs/sponsored-cctp-src-periphery/src/instructions/admin.rs
  programs/sponsored-cctp-src-periphery/src/instructions/deposit.rs
  programs/sponsored-cctp-src-periphery/src/lib.rs
  test/svm/SponsoredCctpSrc.Deposit.ts
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

added bridge balance check before transfer
  contracts/libraries/HyperCoreLib.sol
  contracts/periphery/mintburn/HyperCoreForwarder.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig
