Repository across-protocol/contracts, changes with the owners that CODEOWNERS names for each.
All owners: @mrice32, @nicholaspai, @pxrl, @bmzig, @chrismaree, @Reinis-FRP, @md0x

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Note: CODEOWNERS are automatically requested for review on relevant PRs.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo unless a later match takes precedence.
*       @mrice32 @nicholaspai @pxrl @bmzig

# Solana
/programs/ @mrice32 @nicholaspai @chrismaree @Reinis-FRP @md0x
/scripts/svm/ @mrice32 @nicholaspai @chrismaree @Reinis-FRP @md0x
/src/svm/ @mrice32 @nicholaspai @chrismaree @Reinis-FRP @md0x
/test/svm/ @mrice32 @nicholaspai @chrismaree @Reinis-FRP @md0x

Using consts from constants repo instead
  script/utils/ExtractDeployedFoundryAddresses.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

No need to create DeployedAddresses every time
  script/utils/EXTRACT_ADDRESSES.md
  script/utils/ExtractDeployedFoundryAddresses.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

pr comments
  contracts/chain-adapters/AdminRelayTokensAdapter.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

initial impl
  Anchor.toml
  scripts/svm/acrossPlusValueForward.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig, @chrismaree, @Reinis-FRP, @md0x

avoid sending USDC to handler. Send directly to recipient
  scripts/svm/acrossPlusValueForward.ts
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

use getSpokePoolProgram / getMulticallHandlerProgram fns
  scripts/svm/acrossPlusValueForward.ts
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

Fixed typo
  script/utils/EXTRACT_ADDRESSES.md
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Removed shebang from ts file
  broadcast/deployed-addresses.json
  broadcast/deployed-addresses.md
  script/utils/ExtractDeployedFoundryAddresses.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

feat: script to test USDC + SOL user fill (#1073)
  Anchor.toml
  scripts/svm/acrossPlusValueForward.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig, @chrismaree, @Reinis-FRP, @md0x

update adapter part for USDT0
  contracts/chain-adapters/Polygon_Adapter.sol
  deploy/009_deploy_polygon_adapter.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

update spokepool
  contracts/Polygon_SpokePool.sol
  deploy/011_deploy_polygon_spokepool.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

fix polygon test compilation
  test/evm/hardhat/chain-adapters/Polygon_Adapter.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

add polygon adapter test
  test/evm/hardhat/chain-adapters/Polygon_Adapter.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

add spoke test + fix spokepool test
  diff.diff
  test/evm/hardhat/chain-specific-spokepools/Polygon_SpokePool.ts
  tsconfig.json
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

cleanup
  diff.diff
  test/evm/hardhat/chain-specific-spokepools/Polygon_SpokePool.ts
  tsconfig.json
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

chore: prepare Polygon contracts for USDT0 rollout (#1074)
  contracts/Polygon_SpokePool.sol
  contracts/chain-adapters/Polygon_Adapter.sol
  deploy/009_deploy_polygon_adapter.ts
  deploy/011_deploy_polygon_spokepool.ts
  test/evm/hardhat/chain-adapters/Polygon_Adapter.ts
  test/evm/hardhat/chain-specific-spokepools/Polygon_SpokePool.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

add deployment script
  deploy/066_deploy_admin_relaytokens_adapter.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

export deployments mapping for consumer projects
  package.json
  src/DeploymentUtils.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

change to DEPLOYMENTS
  src/DeploymentUtils.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

improve: export `deployments` (#1076)
  package.json
  src/DeploymentUtils.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Update pr.yml
  .github/workflows/pr.yml
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Update publish.yml
  .github/workflows/publish.yml
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Separated addresses by mainnet vs testnet
  broadcast/deployed-addresses.json
  broadcast/deployed-addresses.md
  script/utils/ExtractDeployedFoundryAddresses.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

feat(Foundry): Added constants file
  script/utils/CONSTANTS_README.md
  script/utils/Constants.sol
  script/utils/constants.json
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Consolidated chain id and native token functions
  script/utils/Constants.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

feat(Foundry): Added deployment utils contract
  script/utils/DeploymentUtils.sol
  test/evm/foundry/local/Blast_DaiRetriever.t.sol
  test/evm/foundry/local/Forwarder.t.sol
  test/evm/foundry/local/Router_Adapter.t.sol
  test/evm/foundry/local/ZkStack_Adapter.t.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

feat(Foundry): Added hubpool, ethereum and arbitrum spoke pool scripts
  script/001DeployHubPool.s.sol
  script/007DeployEthereumSpokePool.s.sol
  script/008DeployArbitrumSpokePool.s.sol
  script/utils/Constants.sol
  script/utils/DeployedAddresses.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Renamed arb deploy script
  script/005DeployArbitrumSpokePool.s.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Added eth and arb adaptors scripts
  script/004DeployArbitrumAdapter.s.sol
  script/006DeployEthereumAdapter.s.sol
  script/utils/Constants.sol
  script/utils/constants.json
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Added OP spokepool and adaptors
  script/002DeployOptimismAdapter.s.sol
  script/003DeployOptimismSpokePool.s.sol
  script/utils/DeploymentUtils.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Update SvmSpoke.Bundle.ts
  test/svm/SvmSpoke.Bundle.ts
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

Update HubPool.DisputeRootBundle.ts
  test/evm/hardhat/HubPool.DisputeRootBundle.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Update Scroll_Adapter.ts
  test/evm/hardhat/chain-adapters/Scroll_Adapter.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Added deploy scripts for v4 upgrades
  script/027DeployScrollSpokePool.s.sol
  script/036DeployBlastSpokePool.s.sol
  script/039DeployModeSpokePool.s.sol
  script/047DeployRedstoneSpokePool.s.sol
  script/049DeployZoraSpokePool.s.sol
  script/054DeployAlephZeroSpokePool.s.sol
  script/057DeployInkSpokePool.s.sol
  script/059DeployLensSpokePool.s.sol
  script/utils/Constants.sol
  script/utils/constants.json
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Added Cher (Soneium) deploy script
  script/060DeployCherSpokePool.s.sol
  script/utils/Constants.sol
  script/utils/constants.json
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

feat(Foundry): Part 1 - Added address extraction script (#1068)
  .gitignore
  broadcast/deployed-addresses.json
  broadcast/deployed-addresses.md
  foundry.toml
  package.json
  script/utils/DeployedAddresses.sol
  script/utils/EXTRACT_ADDRESSES.md
  script/utils/ExtractDeployedFoundryAddresses.ts
  script/utils/extract_foundry_addresses.sh
  yarn.lock
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Added address extraction script
  broadcast/deployed-addresses.json
  broadcast/deployed-addresses.md
  script/utils/README.md
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Renamed readme
  script/utils/README.md
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

feat(Foundry): Added constants file
  script/utils/CONSTANTS_README.md
  script/utils/Constants.sol
  script/utils/constants.json
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Consolidated chain id and native token functions
  script/utils/Constants.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig
