Repository across-protocol/contracts, changes with the owners that CODEOWNERS names for each.
All owners: @mrice32, @nicholaspai, @pxrl, @bmzig, @chrismaree, @Reinis-FRP, @md0x

Remove data upper limit
  contracts/AcrossEventEmitter.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

fix: optimize address bumps
  Anchor.toml
  programs/sponsored-cctp-src-periphery/src/lib.rs
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig, @chrismaree, @Reinis-FRP, @md0x

moved nonce setting before external calls
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPSrcPeriphery.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

test: reclaim nonce account
  test/svm/SponsoredCctpSrc.Deposit.ts
  test/svm/SponsoredCctpSrc.common.ts
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

chore: Added NatSpec to CCTP contracts
  contracts/libraries/SponsoredCCTPQuoteLib.sol
  contracts/periphery/mintburn/HyperCoreFlowExecutor.sol
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPDstPeriphery.sol
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPSrcPeriphery.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Fix
  contracts/AcrossEventEmitter.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

add swapsProcessed return values to finalizePendingsSwaps
  contracts/periphery/mintburn/HyperCoreFlowExecutor.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

return finalized swap amount & number of swaps remaining
  contracts/periphery/mintburn/HyperCoreFlowExecutor.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

update var name process to finalize
  contracts/periphery/mintburn/HyperCoreFlowExecutor.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

remove callCount variable
  contracts/periphery/mintburn/ArbitraryActionFlowExecutor.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

add scoping
  contracts/periphery/mintburn/ArbitraryActionFlowExecutor.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Fix: Remvoed token info setting on deploy
  contracts/periphery/mintburn/HyperCoreFlowExecutor.sol
  foundry.toml
  script/113DeploySponsoredCCTPSrcPeriphery.sol
  script/114DeploySponsoredCCTPDstPeriphery.sol
  script/116DeployDstOFTHandler.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Revert "add scoping"
  contracts/periphery/mintburn/ArbitraryActionFlowExecutor.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Undo commented out require
  contracts/periphery/mintburn/HyperCoreFlowExecutor.sol
  package.json
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

turn off viaIR for ArbitraryActionFlowExecutor
  hardhat.config.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

optimizer 1 run
  hardhat.config.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

disable Yul
  hardhat.config.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

add reentrancy guards and follow the CEI pattern where possible
  contracts/periphery/mintburn/HyperCoreFlowExecutor.sol
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPDstPeriphery.sol
  contracts/periphery/mintburn/sponsored-oft/DstOFTHandler.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

try commenting out function contents
  contracts/periphery/mintburn/ArbitraryActionFlowExecutor.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

DstOFTHandler low optimizer runs
  contracts/periphery/mintburn/ArbitraryActionFlowExecutor.sol
  hardhat.config.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

fix
  contracts/periphery/mintburn/ArbitraryEVMFlowExecutor.sol
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPDstPeriphery.sol
  contracts/periphery/mintburn/sponsored-oft/DstOFTHandler.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

a few renames
  contracts/periphery/mintburn/ArbitraryEVMFlowExecutor.sol
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPDstPeriphery.sol
  contracts/periphery/mintburn/sponsored-oft/DstOFTHandler.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

remove dedundant maxBpsToSponsor enforcement
  contracts/periphery/mintburn/ArbitraryEVMFlowExecutor.sol
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPDstPeriphery.sol
  contracts/periphery/mintburn/sponsored-oft/DstOFTHandler.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Remove unused constructor args
  contracts/periphery/mintburn/HyperCoreFlowExecutor.sol
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPDstPeriphery.sol
  contracts/periphery/mintburn/sponsored-oft/DstOFTHandler.sol
  package.json
  script/114DeploySponsoredCCTPDstPeriphery.sol
  script/116DeployDstOFTHandler.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

split up _executeArbitraryActionFlow into multiple functions
  contracts/periphery/mintburn/ArbitraryActionFlowExecutor.sol
  hardhat.config.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

revert changes on hardhat.config
  contracts/periphery/mintburn/ArbitraryActionFlowExecutor.sol
  hardhat.config.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

cleanup unused things
  contracts/periphery/mintburn/ArbitraryActionFlowExecutor.sol
  contracts/periphery/mintburn/Constants.sol
  contracts/periphery/mintburn/HyperCoreFlowExecutor.sol
  contracts/periphery/mintburn/Structs.sol
  contracts/periphery/mintburn/SwapHandler.sol
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPDstPeriphery.sol
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPSrcPeriphery.sol
  contracts/periphery/mintburn/sponsored-oft/ComposeMsgCodec.sol
  contracts/periphery/mintburn/sponsored-oft/DstOFTHandler.sol
  contracts/periphery/mintburn/sponsored-oft/QuoteSignLib.sol
  contracts/periphery/mintburn/sponsored-oft/SponsoredOFTSrcPeriphery.sol
  contracts/periphery/mintburn/sponsored-oft/Structs.sol
  hardhat.config.ts
  remappings.txt
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

add remappings.txt
  remappings.txt
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

add pre-commit hook
  scripts/preCommitHook.sh
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

add newline
  scripts/preCommitHook.sh
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

move libs
  contracts/external/libraries/MinimalLZOptions.sol
  contracts/external/libraries/OFTComposeMsgCodec.sol
  contracts/periphery/mintburn/sponsored-oft/DstOFTHandler.sol
  contracts/periphery/mintburn/sponsored-oft/SponsoredOFTSrcPeriphery.sol
  script/mintburn/CreateSponsoredDeposit.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

save 1 stack depth.
  contracts/periphery/mintburn/ArbitraryEVMFlowExecutor.sol
  contracts/periphery/mintburn/sponsored-oft/DstOFTHandler.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

add _calcFinalExtraFees
  contracts/periphery/mintburn/ArbitraryEVMFlowExecutor.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

move LayerZero libs to `external/` (#1151)
  contracts/external/libraries/MinimalLZOptions.sol
  contracts/external/libraries/OFTComposeMsgCodec.sol
  contracts/periphery/mintburn/sponsored-oft/DstOFTHandler.sol
  contracts/periphery/mintburn/sponsored-oft/SponsoredOFTSrcPeriphery.sol
  script/mintburn/CreateSponsoredDeposit.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

comment
  contracts/periphery/mintburn/ArbitraryEVMFlowExecutor.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

feat: add swapsProcessed return values to finalizePendingsSwaps (#1145)
  contracts/periphery/mintburn/HyperCoreFlowExecutor.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

fix: arbitrary actions flow (#1149)
  contracts/periphery/mintburn/ArbitraryEVMFlowExecutor.sol
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPDstPeriphery.sol
  contracts/periphery/mintburn/sponsored-oft/DstOFTHandler.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

chore: Added NatSpec to CCTP contracts (#1144)
  contracts/libraries/SponsoredCCTPQuoteLib.sol
  contracts/periphery/mintburn/HyperCoreFlowExecutor.sol
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPDstPeriphery.sol
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPSrcPeriphery.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

add reentrancy guards and follow the CEI pattern where possible (#1148)
  contracts/periphery/mintburn/ArbitraryEVMFlowExecutor.sol
  contracts/periphery/mintburn/HyperCoreFlowExecutor.sol
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPDstPeriphery.sol
  contracts/periphery/mintburn/sponsored-oft/DstOFTHandler.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

messy stack-too-deep fix
  contracts/periphery/mintburn/HyperCoreFlowExecutor.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Note: CODEOWNERS are automatically requested for review on relevant PRs.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo unless a later match takes precedence.
*       @mrice32 @nicholaspai @pxrl @bmzig

# Solana
/programs/ @mrice32 @nicholaspai @chrismaree @Reinis-FRP @md0x
/scripts/svm/ @mrice32 @nicholaspai @chrismaree @Reinis-FRP @md0x
/src/svm/ @mrice32 @nicholaspai @chrismaree @Reinis-FRP @md0x
/test/svm/ @mrice32 @nicholaspai @chrismaree @Reinis-FRP @md0x
