Repository across-protocol/contracts, changes with the owners that CODEOWNERS names for each.
All owners: @mrice32, @nicholaspai, @pxrl, @bmzig, @chrismaree, @Reinis-FRP, @md0x

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Note: CODEOWNERS are automatically requested for review on relevant PRs.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo unless a later match takes precedence.
*       @mrice32 @nicholaspai @pxrl @bmzig

# Solana
/programs/ @mrice32 @nicholaspai @chrismaree @Reinis-FRP @md0x
/scripts/svm/ @mrice32 @nicholaspai @chrismaree @Reinis-FRP @md0x
/src/svm/ @mrice32 @nicholaspai @chrismaree @Reinis-FRP @md0x
/test/svm/ @mrice32 @nicholaspai @chrismaree @Reinis-FRP @md0x

move things around
  contracts/periphery/mintburn/sponsored-oft/ComposeMsgCodec.sol
  contracts/periphery/mintburn/sponsored-oft/QuoteSignLib.sol
  contracts/periphery/mintburn/sponsored-oft/SponsoredOFTSrcPeriphery.sol
  contracts/periphery/mintburn/sponsored-oft/Structs.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Updated stuct hash for sig validation
  contracts/libraries/SponsoredCCTPQuoteLib.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Added src/dst periphery contracts
  contracts/external/interfaces/CCTPInterfaces.sol
  contracts/interfaces/SponsoredCCTPInterface.sol
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPDstPeriphery.sol
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPSrcPeriphery.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

feat(svm): wip cctp sponsored src
  Anchor.toml
  Cargo.lock
  programs/sponsored-cctp-src-periphery/Cargo.toml
  programs/sponsored-cctp-src-periphery/Xargo.toml
  programs/sponsored-cctp-src-periphery/src/constants.rs
  programs/sponsored-cctp-src-periphery/src/error.rs
  programs/sponsored-cctp-src-periphery/src/instructions/deposit.rs
  programs/sponsored-cctp-src-periphery/src/instructions/initialize.rs
  programs/sponsored-cctp-src-periphery/src/instructions/mod.rs
  programs/sponsored-cctp-src-periphery/src/lib.rs
  programs/sponsored-cctp-src-periphery/src/state/mod.rs
  programs/sponsored-cctp-src-periphery/src/state/state.rs
  programs/sponsored-cctp-src-periphery/src/utils/mod.rs
  programs/sponsored-cctp-src-periphery/src/utils/testable_utils.rs
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig, @chrismaree, @Reinis-FRP, @md0x

fix: todo nonce check
  programs/sponsored-cctp-src-periphery/src/instructions/deposit.rs
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

HyperCoreLib init commit
  contracts/libraries/HyperCoreLib.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

feat: cctp quote parsing
  programs/sponsored-cctp-src-periphery/src/utils/mod.rs
  programs/sponsored-cctp-src-periphery/src/utils/sponsored_cctp_quote.rs
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

fix: comment
  programs/sponsored-cctp-src-periphery/src/utils/sponsored_cctp_quote.rs
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

add functions for submitting and canceling limit orders
  contracts/libraries/HyperCoreLib.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

add event for sponsored sends tracking
  contracts/periphery/mintburn/sponsored-oft/QuoteSignLib.sol
  contracts/periphery/mintburn/sponsored-oft/SponsoredOFTSrcPeriphery.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

polish
  contracts/periphery/mintburn/sponsored-oft/ComposeMsgCodec.sol
  contracts/periphery/mintburn/sponsored-oft/QuoteSignLib.sol
  contracts/periphery/mintburn/sponsored-oft/SponsoredOFTSrcPeriphery.sol
  contracts/periphery/mintburn/sponsored-oft/Structs.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

add barebones DstOFTHandler
  contracts/external/interfaces/ILayerZeroComposer.sol
  contracts/periphery/mintburn/sponsored-oft/DstOFTHandler.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

clean up function & variable naming
  contracts/libraries/HyperCoreLib.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

fix: linting
  programs/sponsored-cctp-src-periphery/src/utils/sponsored_cctp_quote.rs
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

fix: naming
  programs/sponsored-cctp-src-periphery/src/utils/sponsored_cctp_quote.rs
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

fix: parse and validate quote parameters
  programs/sponsored-cctp-src-periphery/src/error.rs
  programs/sponsored-cctp-src-periphery/src/instructions/deposit.rs
  programs/sponsored-cctp-src-periphery/src/lib.rs
  programs/sponsored-cctp-src-periphery/src/utils/sponsored_cctp_quote.rs
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

fix: missing events file
  programs/sponsored-cctp-src-periphery/src/event.rs
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

feat: admin methods
  programs/sponsored-cctp-src-periphery/src/error.rs
  programs/sponsored-cctp-src-periphery/src/event.rs
  programs/sponsored-cctp-src-periphery/src/instructions/admin.rs
  programs/sponsored-cctp-src-periphery/src/instructions/initialize.rs
  programs/sponsored-cctp-src-periphery/src/instructions/mod.rs
  programs/sponsored-cctp-src-periphery/src/lib.rs
  programs/sponsored-cctp-src-periphery/src/state/state.rs
  programs/sponsored-cctp-src-periphery/src/utils/sponsored_cctp_quote.rs
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

fix: validate source domain
  programs/sponsored-cctp-src-periphery/src/constants.rs
  programs/sponsored-cctp-src-periphery/src/error.rs
  programs/sponsored-cctp-src-periphery/src/instructions/admin.rs
  programs/sponsored-cctp-src-periphery/src/instructions/deposit.rs
  programs/sponsored-cctp-src-periphery/src/lib.rs
  programs/sponsored-cctp-src-periphery/src/state/state.rs
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

updates const
  contracts/interfaces/SponsoredCCTPInterface.sol
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPDstPeriphery.sol
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPSrcPeriphery.sol
  deploy/consts.ts
  foundry.toml
  generated/constants.json
  script/utils/Constants.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Updated event names and params
  contracts/interfaces/SponsoredCCTPInterface.sol
  contracts/libraries/SponsoredCCTPQuoteLib.sol
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPDstPeriphery.sol
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPSrcPeriphery.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Updated receive event
  contracts/interfaces/SponsoredCCTPInterface.sol
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPDstPeriphery.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Added hypercore lib
  contracts/interfaces/SponsoredCCTPInterface.sol
  contracts/libraries/SponsoredCCTPQuoteLib.sol
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPDstPeriphery.sol
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPSrcPeriphery.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

add tokenInfo getter function
  contracts/libraries/HyperCoreLib.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

feat: validate sigature
  Cargo.lock
  programs/sponsored-cctp-src-periphery/Cargo.toml
  programs/sponsored-cctp-src-periphery/src/error.rs
  programs/sponsored-cctp-src-periphery/src/instructions/admin.rs
  programs/sponsored-cctp-src-periphery/src/instructions/deposit.rs
  programs/sponsored-cctp-src-periphery/src/utils/mod.rs
  programs/sponsored-cctp-src-periphery/src/utils/signer.rs
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig, @chrismaree, @Reinis-FRP, @md0x

split HyperCoreLib into two libraries
  contracts/libraries/HyperCoreLib.sol
  contracts/libraries/HyperLiquidHelperLib.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

rename helper library
  contracts/libraries/HyperCoreHelperLib.sol
  contracts/libraries/HyperCoreLib.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

add function for bridging to self on Core
  contracts/libraries/HyperCoreLib.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

improve lib quality
  contracts/libraries/BytesLib.sol
  contracts/libraries/MinimalLZOptions.sol
  contracts/periphery/mintburn/sponsored-oft/ComposeMsgCodec.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Update natspec and naming
  contracts/libraries/HyperCoreHelperLib.sol
  contracts/libraries/HyperCoreLib.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

added OFTComposeMsgCodec
  contracts/libraries/OFTComposeMsgCodec.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

fix natspec
  contracts/libraries/HyperCoreLib.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

combine libraries into single library with MIT license
  contracts/libraries/HyperCoreHelperLib.sol
  contracts/libraries/HyperCoreLib.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

progress .. Flow implementaions left
  contracts/libraries/HyperCoreLib.sol
  contracts/periphery/mintburn/sponsored-oft/DstOFTHandler.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

make all function camelCase
  contracts/libraries/HyperCoreLib.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Make tif order types into enum
  contracts/libraries/HyperCoreLib.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

check tif against tif.max
  contracts/libraries/HyperCoreLib.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

feat: Hypercorelib (#1137)
  contracts/libraries/HyperCoreLib.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

feat: add metadata event emitter contract
  contracts/AcrossEventEmitter.sol
  deploy/114_deploy_across_event_emitter.ts
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Remove comment
  contracts/AcrossEventEmitter.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig
