Repository across-protocol/contracts, changes with the owners that CODEOWNERS names for each.
All owners: @mrice32, @nicholaspai, @pxrl, @bmzig, @chrismaree, @Reinis-FRP, @md0x

fix: improve decoding logic
  programs/sponsored-cctp-src-periphery/src/utils/sponsored_cctp_quote.rs
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

misc
  contracts/periphery/mintburn/HyperCoreFlowExecutor.sol
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPSrcPeriphery.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

feat: used nonce close info getter
  programs/sponsored-cctp-src-periphery/src/instructions/deposit.rs
  programs/sponsored-cctp-src-periphery/src/lib.rs
  test/svm/SponsoredCctpSrc.Deposit.ts
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

fix: sync source domain naming with evm
  programs/sponsored-cctp-src-periphery/src/instructions/admin.rs
  programs/sponsored-cctp-src-periphery/src/instructions/deposit.rs
  programs/sponsored-cctp-src-periphery/src/state/state.rs
  test/svm/SponsoredCctpSrc.Deposit.ts
  test/svm/SponsoredCctpSrc.common.ts
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

WIP
  contracts/periphery/mintburn/ArbitraryActionFlowExecutor.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

WIP
  contracts/periphery/mintburn/ArbitraryActionFlowExecutor.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

WIP
  contracts/periphery/mintburn/ArbitraryActionFlowExecutor.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

fix: sync deposit_for_burn naming with evm
  programs/sponsored-cctp-src-periphery/src/instructions/deposit.rs
  programs/sponsored-cctp-src-periphery/src/lib.rs
  test/svm/SponsoredCctpSrc.Deposit.ts
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

fix: remove redundant quote.deadline() call
  programs/sponsored-cctp-src-periphery/src/instructions/deposit.rs
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

WIP
  contracts/periphery/mintburn/ArbitraryActionFlowExecutor.sol
  contracts/periphery/mintburn/HyperCoreFlowExecutor.sol
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPDstPeriphery.sol
  contracts/periphery/mintburn/sponsored-oft/DstOFTHandler.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

fix: update comment
  programs/sponsored-cctp-src-periphery/src/instructions/deposit.rs
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

WIP
  contracts/periphery/mintburn/HyperCoreFlowExecutor.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

fix: consistent deposit account naming
  programs/sponsored-cctp-src-periphery/src/error.rs
  programs/sponsored-cctp-src-periphery/src/instructions/deposit.rs
  test/svm/SponsoredCctpSrc.Deposit.ts
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

fix: update comment
  programs/sponsored-cctp-src-periphery/src/instructions/deposit.rs
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

fix: rename internal fn
  programs/sponsored-cctp-src-periphery/src/instructions/deposit.rs
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

WIP
  contracts/periphery/mintburn/ArbitraryActionFlowExecutor.sol
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPDstPeriphery.sol
  contracts/periphery/mintburn/sponsored-oft/DstOFTHandler.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

feat: emit created message sent account
  programs/sponsored-cctp-src-periphery/src/event.rs
  programs/sponsored-cctp-src-periphery/src/instructions/deposit.rs
  test/svm/SponsoredCctpSrc.Deposit.ts
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

WIP
  contracts/handlers/MulticallHandler.sol
  contracts/handlers/PermissionedMulticallHandler.sol
  contracts/periphery/mintburn/ArbitraryActionFlowExecutor.sol
  contracts/periphery/mintburn/Constants.sol
  contracts/periphery/mintburn/HyperCoreFlowExecutor.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

fix: drop state seed
  programs/sponsored-cctp-src-periphery/src/error.rs
  programs/sponsored-cctp-src-periphery/src/instructions/admin.rs
  programs/sponsored-cctp-src-periphery/src/instructions/deposit.rs
  programs/sponsored-cctp-src-periphery/src/state/state.rs
  programs/sponsored-cctp-src-periphery/src/utils/testable_utils.rs
  test/svm/SponsoredCctpSrc.Deposit.ts
  test/svm/SponsoredCctpSrc.common.ts
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

fix the MIN_COMPOSE_MSG_BYTE_LENGTH
  contracts/periphery/mintburn/sponsored-oft/ComposeMsgCodec.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

WIP
  contracts/periphery/mintburn/ArbitraryActionFlowExecutor.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

fix: import visibility
  programs/sponsored-cctp-src-periphery/src/lib.rs
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

WIP
  contracts/periphery/mintburn/ArbitraryActionFlowExecutor.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

WIP
  contracts/periphery/mintburn/ArbitraryActionFlowExecutor.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

WIP
  contracts/periphery/mintburn/ArbitraryActionFlowExecutor.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

fix: remove build warnings
  programs/sponsored-cctp-src-periphery/src/lib.rs
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

WIP
  contracts/periphery/mintburn/ArbitraryActionFlowExecutor.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

WIP
  contracts/periphery/mintburn/ArbitraryActionFlowExecutor.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

fix: add security.txt
  Cargo.lock
  programs/sponsored-cctp-src-periphery/Cargo.toml
  programs/sponsored-cctp-src-periphery/src/lib.rs
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig, @chrismaree, @Reinis-FRP, @md0x

feat: add arbitrary actions execution to sponsored bridging (#1143)
  contracts/handlers/MulticallHandler.sol
  contracts/handlers/PermissionedMulticallHandler.sol
  contracts/interfaces/SponsoredCCTPInterface.sol
  contracts/libraries/SponsoredCCTPQuoteLib.sol
  contracts/periphery/mintburn/ArbitraryActionFlowExecutor.sol
  contracts/periphery/mintburn/Constants.sol
  contracts/periphery/mintburn/HyperCoreFlowExecutor.sol
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPDstPeriphery.sol
  contracts/periphery/mintburn/sponsored-oft/ComposeMsgCodec.sol
  contracts/periphery/mintburn/sponsored-oft/DstOFTHandler.sol
  contracts/periphery/mintburn/sponsored-oft/QuoteSignLib.sol
  contracts/periphery/mintburn/sponsored-oft/SponsoredOFTSrcPeriphery.sol
  contracts/periphery/mintburn/sponsored-oft/Structs.sol
  script/116DeployDstOFTHandler.sol
  script/mintburn/CreateSponsoredDeposit.sol
  script/mintburn/SetAuthorizedPeriphery.s.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

fix: add missing maxUserSlippageBps
  programs/sponsored-cctp-src-periphery/src/event.rs
  programs/sponsored-cctp-src-periphery/src/instructions/deposit.rs
  programs/sponsored-cctp-src-periphery/src/utils/sponsored_cctp_quote.rs
  test/svm/SponsoredCctpSrc.Deposit.ts
  test/svm/SponsoredCctpSrc.types.ts
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

fix: simplify layout
  programs/sponsored-cctp-src-periphery/src/instructions/deposit.rs
  programs/sponsored-cctp-src-periphery/src/state.rs
  programs/sponsored-cctp-src-periphery/src/state/mod.rs
  programs/sponsored-cctp-src-periphery/src/utils/sponsored_cctp_quote.rs
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

fix: initial docs
  programs/sponsored-cctp-src-periphery/src/lib.rs
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

fix: improve documentation
  programs/sponsored-cctp-src-periphery/src/lib.rs
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

fix: typo
  programs/sponsored-cctp-src-periphery/src/instructions/deposit.rs
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

fix: instruction name in comments
  programs/sponsored-cctp-src-periphery/src/instructions/deposit.rs
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

fix: lint
  programs/sponsored-cctp-src-periphery/src/instructions/deposit.rs
Owners: @mrice32, @nicholaspai, @chrismaree, @Reinis-FRP, @md0x

Update contracts/periphery/mintburn/HyperCoreFlowExecutor.sol
  contracts/periphery/mintburn/HyperCoreFlowExecutor.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

Update contracts/periphery/mintburn/HyperCoreFlowExecutor.sol
  contracts/periphery/mintburn/HyperCoreFlowExecutor.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

fix typo
  contracts/libraries/SponsoredCCTPQuoteLib.sol
  contracts/periphery/mintburn/sponsored-cctp/SponsoredCCTPSrcPeriphery.sol
Owners: @mrice32, @nicholaspai, @pxrl, @bmzig

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Note: CODEOWNERS are automatically requested for review on relevant PRs.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo unless a later match takes precedence.
*       @mrice32 @nicholaspai @pxrl @bmzig

# Solana
/programs/ @mrice32 @nicholaspai @chrismaree @Reinis-FRP @md0x
/scripts/svm/ @mrice32 @nicholaspai @chrismaree @Reinis-FRP @md0x
/src/svm/ @mrice32 @nicholaspai @chrismaree @Reinis-FRP @md0x
/test/svm/ @mrice32 @nicholaspai @chrismaree @Reinis-FRP @md0x
